body {
  padding: 50px;
  font-family: "Helvetica Neue", Helvetica, sans-serif, arial;
  font-size: 14px;
  line-height: 1.6;
  color: #303030;
}
p code,
li code {
  border: 1px solid #eee;
  padding: 1px 5px;
  font: 12px monaco, monospace;
  white-space: pre;
  display: block;
}
pre {
  padding: 20px;
  border: 1px solid #eee;
}
pre code {
  font: 12px monaco, monospace;
}
pre code .string {
  color: #db2020;
}
pre code .number {
  color: #0bb1e4;
}
pre code .keyword {
  font-weight: bold;
}
pre code .comment {
  color: #b3b3b3;
}
